.login-wrapper {
  max-width: 1440px;
  height: 1024px;
  margin: 0 auto;
  display: flex;
  .login-img-container {
    width: 643px;
    background-image: url('/src/assets/images/login_img.png');
    background-position: center;
  }
  .login-content-container {
    width: 797px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    .header {
      margin: 0 auto;
    }
    .login-form-wrapper {
      width: 486px;
      .login-heading {
        margin: 0 auto;
        margin-bottom: 48px;
        width: 148px;
        font-size: 48px;
        font-weight: 650;
      }
      .login-form {
        display: flex;
        flex-direction: column;
        input {
          display: block;
          height: 40px;
          width: 100%;
          margin-bottom: 30px;
          font-size: 18px;
          border: 3px solid black;
          font-family: inherit;
          padding: 10px;
          &:nth-of-type(2) {
            margin-bottom: 48px;
          }
        }
        label {
          margin-left: 21px;
          margin-bottom: 15px;
          font-size: 18px;
          font-weight: 600;
        }
        .button {
          margin: 0 auto;
          margin-bottom: 30px;
        }
      }
    }
    .team-name {
      font-size: 14px;
    }
  }
  @media screen and (min-width: 901px) {
    .header {
      display: flex !important;
    }
  }
  @media screen and (max-width: 900px) {
    .login-img-container {
      display: none;
    }
    .login-content-container {
      max-width: 100%;
      position: relative;
      justify-content: center !important;
      .burger {
        display: flex;
      }
      .header {
        @include header-tablets;
        .header-link {
          @include header-link-tablets;
        }
      }
      .team-name {
        position: absolute;
        top: 35px;
        left: 30px;
      }
    }
  }
  @media screen and (max-width: 605px) {
    .login-content-container {
      padding: 20px !important;
      justify-content: center;
      .login-form-wrapper {
        width: 400px !important;
      }
    }
  }
  @media screen and (max-width: 450px) {
    height: 667px;
    .login-content-container {
      .header-link {
        @include header-link-mobile;
      }
      .login-form-wrapper {
        width: 300px !important;
        .login-heading {
          font-size: 24px;
          width: 74px;
          margin-bottom: 32px !important;
        }
        .button {
          width: 241px;
          font-size: 14px;
          &-white {
            font-size: 11px;
          }
        }
        input {
          margin-bottom: 20px !important;
        }
        label {
          margin-bottom: 10px !important;
          font-size: 13px !important;
        }
      }
    }
  }
}
