.profile-page {
  @include wrapper;
  padding: 25px 121px;
  flex-direction: column;
  align-items: center;
  .profile-page__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 50px;
  }
  .data-block__title-block {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
  }
  .addresses-wrapper__addresses-block {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }
  .data-block__address-wrapper {
    max-width: 365px;
    border: 1px solid #e6dada;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
  }
  .data-block__label {
    margin: 5px 0;
  }
  .data-block__input {
    padding: 5px;
  }
  .profile-page__data-block,
  .address-wrapper__address {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    display: flex;
    gap: 15px;
  }
  .profile-page__personal-info-email {
    flex-wrap: wrap;
  }
  .data-block__line {
    display: flex;
    gap: 25px;
  }

  .new-address__all-btn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  .button-new-address {
    width: auto;
    padding: 10px 20px;
  }
  .button-white {
    padding: 10px 25px;
    background-color: white;
    color: #000000;
    font-size: 15px;
    border: 2px solid #000000;
  }
  .user-data__errors {
    color: red;
  }
  .new-address__country-input {
    width: auto;
    min-width: 200px;
    border: 1px solid #80808063;
    padding: 5px;
    background-color: #f8f8f8;
  }
  .user-data__checkbox-wrapper {
    flex-wrap: wrap;
    display: flex;
    gap: 5px;
  }
  .checkbox-block {
    min-width: 40%;
  }

  @media (hover: hover) and (pointer: fine) {
    .button-white:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
  .button-white:disabled {
    background-color: #bcbcbc;
    pointer-events: none;
    border: 1px solid gray;
    color: gray;
    cursor: default;
  }
  @media screen and (max-width: 875px) {
    .profile-page .data-block__addresses-wrapper {
      flex-direction: column;
      gap: 50px;
    }
  }
  @media screen and (max-width: 600px) {
    padding: 25px 51px;

    .profile-page .data-block__address-wrapper {
      gap: 15px;
    }
    .profile-page .new-address__all-btn {
      gap: 10px;
    }
  }
  @media screen and (max-width: 420px) {
    padding: 25px 31px;
  }
}
