.header {
  width: fit-content;
  height: 17px;
  display: flex;
  gap: 69px;
  .header-link {
    text-decoration: none;
    color: black;
    font-size: 14px;
    white-space: nowrap;
  }
}

.burger {
  position: absolute;
  top: 39px;
  right: 32px;
  width: 43px;
  height: 14px;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  .burger-part {
    width: 100%;
    height: 3px;
    background-color: black;
  }
}
