.dpp-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

.slides-img {
  height: 500px;
  width: 500px;
  object-fit: cover;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

.slideshow-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mySlides {
  display: none;
}

.mySlides1 {
  display: none;
}

.mySlides:first-child {
  display: block;
}

.slide-cont1 div:nth-of-type(1) {
  display: block;
}

.slide-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slide-cont1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
}

.slide-cont div:nth-of-type(1) {
  display: block;
}

.prev,
.next {
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 26px;
  // transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  padding-right: 20px;
}

.next {
  padding-left: 20px;
}

.prev:hover,
.next:hover {
  color: gray;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.dpp-name {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.dpp-desc {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.dpp-price-cont {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.dpp-disc-price {
  font-weight: 700;
  font-size: 55px;
  line-height: 77px;
  color: #a92424;
  padding-right: 50px;
}

.dpp-price {
  font-weight: 700;
  font-size: 55px;
}

.dpp-price-stroke {
  font-weight: 700;
  font-size: 35px;
  line-height: 58px;
  text-decoration: line-through;
}

.dpp-text-cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 0;
  max-width: 750px;
  flex-wrap: wrap;
  margin-left: 60px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: rgb(86 86 86 / 64%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  color: white;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-start;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.slider-modal {
  margin: 0 auto;
}

.slides-img1 {
  height: 90vh;
  margin-top: 5%;
  object-fit: cover;
}

.prev1,
.next1 {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 36px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev1:hover,
.next1:hover {
  color: black;
}

.prev1 {
  padding-right: 20px;
}

.next1 {
  padding-left: 20px;
}

.dot1 {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active1,
.dot1:hover {
  background-color: #717171;
}

.dpp-back-to-cat {
  width: fit-content;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  cursor: pointer;
  align-self: flex-end;
  margin-top: -30px;
  transition: all 0.5s ease;
}

.dpp-back-to-cat:hover {
  font-weight: 600;
  font-size: 13px;
}

.dpp-nad-text-cont {
  margin-top: -100px;
}

@media (max-width: 1130px) {
  .dpp-text-cont {
    margin-left: 30px;
  }

  .slides-img {
    width: 450px;
    height: 450px;
  }

  .dpp-name {
    margin-bottom: 20px;
    line-height: 35px;
    font-size: 32px;
  }

  .dpp-price {
    font-size: 50px;
  }

  .dpp-back-to-cat {
    margin-bottom: 80px;
  }

  .dpp-disc-price {
    padding-right: 20px;
    font-size: 50px;
  }
}

@media (max-width: 900px) {
  .slides-img {
    width: 350px;
    height: 350px;
  }

  .dpp-name {
    line-height: 30px;
    font-size: 26px;
  }

  .dpp-desc {
    font-size: 20px;
  }

  .dpp-price {
    font-size: 40px;
  }

  .slides-img1 {
    height: 600px;
    width: 600px;
  }
}

@media (max-width: 800px) {
  .slides-img {
    width: 300px;
    height: 300px;
  }

  .dpp-name {
    line-height: 30px;
    font-size: 22px;
  }

  .dpp-desc {
    font-size: 18px;
  }

  .dpp-price {
    font-size: 32px;
  }

  .dpp-disc-price {
    font-size: 40px;
  }

  .dpp-back-to-cat {
    transition: all 0s;
  }

  .slides-img1 {
    height: 500px;
    width: 500px;
  }
}

@media (max-width: 700px) {
  .dpp-cont {
    flex-direction: column;
  }

  .slides-img {
    width: 350px;
    height: 350px;
  }

  .dpp-name {
    line-height: 30px;
    font-size: 22px;
  }

  .dpp-desc {
    font-size: 18px;
  }

  .dpp-price {
    margin-top: 30px;
  }

  .dpp-text-cont {
    margin-top: 80px;
  }

  .dpp-nad-text-cont {
    margin-top: -70px;
  }

  .dpp-back-to-cat {
    order: 10;
    margin-bottom: 0;
    margin-top: 30px;
  }

  .slides-img1 {
    height: 400px;
    width: 400px;
    margin-top: 20%;
  }

  .slide-cont {
    margin-top: 15%;
  }

  .slide-cont1 {
    margin-top: 20%;
  }
}

@media (max-width: 550px) {
  .slides-img1 {
    height: 300px;
    width: 300px;
  }

  .slide-cont {
    margin-top: 20%;
  }

  .prev1,
  .next1 {
    font-size: 26px;
  }
}

@media (max-width: 450px) {
  .slides-img {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 420px) {
  .slides-img1 {
    width: 230px;
    height: 230px;
  }
}
