html * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Inter';
  src: url('/src/assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}

body {
  font-family: 'Inter';
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  margin-bottom: 11px;
}
label {
  font-size: 18px;
  margin: 10px auto 15px 17px;
}
.body-locked {
  overflow-y: hidden;
}
